<div class="mall_desc">
	<div class="mall_desc_bg">
		<div class="mall_desc_boxl">
			<ul>
				<li>本站是淘宝网特约合作导购站点</li>
				<li>本站所有商品均与淘宝同时发布</li>
				<li>交易均在淘宝进行，请放心购买</li>
			</ul>
		</div>
		<div class="mall_desc_boxr">
			<div class="mall_desc_boxr01">
				<ul>
					<h3>新手上路</h3>
					<li><a href="http://member1.taobao.com/member/newbie.htm" target="_blank">免费注册</a></li>
					<li><a href="https://lab.alipay.com/user/reg/index.htm" target="_blank">开通支付宝</a></li>
					<li><a href="http://abc.alipay.com/inpour.html" target="_blank">支付宝充值</a></li>
					<li><a href="http://service.taobao.com/support/knowledge-1115818.htm" target="_blank">如何购买</a></li>
				</ul>
			</div>
			<div class="mall_desc_boxr_line"></div>
			<div class="mall_desc_boxr02">
				<ul>
					<h3>支付方式</h3>
					<li><a href="http://abc.alipay.com/paymentAccount.html" target="_blank">支付宝支付</a></li>
					<li><a href="http://abc.alipay.com/paymentCard.html" target="_blank">信誉卡支付</a></li>
					<li><a href="http://abc.alipay.com/paymentCash.html" target="_blank">货到付款</a></li>
					<li><a href="http://abc.alipay.com/paymentBank.html" target="_blank">网上银行支付</a></li>
				</ul>
			</div>
			<div class="mall_desc_boxr_line"></div>
			<div class="mall_desc_boxr03">
				<ul>
					<h3>售后服务</h3>
					<li><a href="http://service.taobao.com/support/9799.htm" target="_blank">交易维权</a></li>
					<li><a href="http://service.taobao.com/support/9801.htm" target="_blank">投诉卖家流程</a></li>
					<li><a href="http://service.taobao.com/support/9802.htm" target="_blank">举报卖家流程</a></li>
					<li><a href="http://www.taobao.com/about/contact.php" target="_blank">淘宝网客服电话</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="links">
	<ul>
		<li>友情链接:</li>
		{site_links items=$config.links}
	</ul>
</div>
<div class="copyright">
	<div class="copyright_icp"><?php echo $sitetitle." ".$sitetitleb?> <a href="http://www.miibeian.gov.cn" target="_blank"><?php echo $siteicp ?></a> </div>
	<div class="copyright_info">Copyright © 2009-2011 <a href="<?php echo $siteurl ?>"><?php echo $sitetitle ?></a> All Rights Reserved</div>
	<div class="copyright_img"> <img src="{$SP_URL_IMG}global/footer_icp.gif"> <img src="{$SP_URL_IMG}global/footer_wm.gif"> <img src="{$SP_URL_IMG}global/footer_ws.gif"> <img src="{$SP_URL_IMG}global/footer_110.gif"> </div>
	<div class="copyright_special"></div>
</div>
<div class="footer">
	<div class="footer_div">
		<div class="footer_img"><img src="{$SP_URL_IMG}global/father.gif" width="85" height="79" /></div>
		<div class="footer_gg"><span>商城宗旨：</span>淘你喜欢,淘你所爱!</div>
		<div class="footer_line"></div>
		<div class="footer_cat"><span>联系站长：</span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$config.site.qq}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:<?php echo $qq ?>:46" alt="点击这里给我发消息" title="点击这里给我发消息" align="absmiddle"></a> email</div>
		<div class="footer_line"></div>
		<div class="footer_tel">客服电话：<span>{$config.site.tel}</span> 
			<script type="text/javascript">
			
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-131231-51']);
			  _gaq.push(['_setDomainName', 'gsdn.net']);
			  _gaq.push(['_setAllowLinker', true]);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
			</script>		
		</div>
	</div>
</div>
</body>
</html>